.bottom-cta {
	background: $header-color;
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	h2 {
		margin-bottom: 50px;
	}
}

.testimonial {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$phone} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: #ffffff;
	text-align: center;
	background: $header-color;
	padding-top: 0;
	padding-bottom: 2vh;
	p {
		color: #fff;
	}
  	img.biglogo {
		width: 40vh;
		height: 40vh;
        max-width: 80vw;
		max-height: 80vw;
	}
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;
        justify-content: space-between;

		.split {
			max-width: 47.5%;
		}

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
		}
	}

	.flipped {
		flex-direction: row-reverse;
	}
}
