.bottom-cta {
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	h2 {
		margin-bottom: 50px;
	}
}

.title {
	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
		color: $brand-color;
	}
}

.hero {
	color: #ffffff;
    background-color: $hero-color;
	text-align: center;
	padding-top: 1vh;
	padding-bottom: 2vh;
	position: relative;
	p {
		color: #fff;
	}
	@media #{$phone} {
		h1 {
			font-size: 2.5em;
		}
		p {
			font-size: 1.3em;
		}
	}
  	img.biglogo {
		width: 40vh;
		height: 40vh;
        max-width: 80vw;
		max-height: 80vw;
	}
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;
        justify-content: space-between;

		.split {
			max-width: 47.5%;
			@media #{$phone} {
					padding-bottom: 20px;
			}
		}

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
		}


	}

	.flipped {
		flex-direction: row-reverse;
	}
}
