.matrix {
    width: 100%;
    height: 100%;
    position: fixed;
}

.matrix > div {
    bottom: 100%;
    position: absolute;
    text-orientation: upright;
    writing-mode: vertical-lr;
    transform: scale(-1, 1);
    background: -webkit-linear-gradient(#000000, $brand-color);
    background: -moz-linear-gradient(#000000, $brand-color);
    background: -ms-linear-gradient(#000000, $brand-color);
    background: linear-gradient(#000000, $brand-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 100%;

    font-size: 1.38em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@for $i from 0 through 125 {
    .o#{$i} {
        animation: random(1000)+6000 + ms linear random(10000) + ms infinite drop;
        left: $i*30 + px;
    }
}

@keyframes drop {
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(calc(200% + 30px));
        -moz-transform: translateY(calc(200% + 30px));
        transform: translateY(calc(200% + 30px));
    }
}
