.nav-open nav {
	border-bottom: 1px dotted rgba(255, 255, 255, .2);
	padding: 10px 0;
	a {
		display: block;
	}

	@media #{$desktop } {
		border: 0;
		padding: 0 20px;

		a {
			display: inline;
		}
	}

	margin-top: 0;

	.btn {
		border: 0;
		border-radius: 2px;
		width: 100%;
		max-width: 500px;
		box-sizing: border-box;
		font-size: 2rem;
		text-decoration: none;
		padding: 10px 15px;
		margin: 0;
	}

	nav &, .btn {
		cursor: pointer;
		background-color: #f7e064;
		color: #333;
		box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

		&:hover {
			background-color: #f4d525;
			color: #333;
		}
	}
}

nav {
	text-transform: uppercase;
	font-size: 1em;
	width: 100%;

	@media #{$desktop } {
        font-size: .8em;
		text-align: right;
		padding: 0 0 0 20px;
	}


	a {
		margin: 0 3px;
		padding: 20px 10px;
		border-bottom: 1px solid rgba(255,255,255,0);
		color: rgba(255,255,255,.8);
		display: none;

		@media #{$desktop } {
			display: inline-block;
			padding: 10px;
		}
	}

	a:hover {
		border-bottom: 1px solid #fff;
		color: #fff;
	}

	@media #{$desktop } {
		a.highlight {
			border: 1px #ccc solid;
			border-radius: 5px;

			&:hover {
				background: #fff;
				color: $header-color;
			}
		}
	}

	a.active {
		color: $brand-color;
		border-bottom: 1px solid $brand-color;
	}

}
