$header-color: rgba(#000000, .9);
$background-color: rgba(#0e0e0e, .9);

$brand-color: #6adca9;

$phone: "(max-width: 649px)";
$desktop: "(min-width: 650px)";

$serif                        : Georgia, Times, serif !default;
$sans-serif                   : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace                    : Hack, Monaco, Consolas, "Lucida Console", monospace !default;

$sans-serif-narrow            : $sans-serif !default;
$helvetica                    : Helvetica, "Helvetica Neue", Arial, sans-serif !default;

$georgia                      : Georgia, serif !default;
$times                        : Times, serif !default;
$bodoni                       : "Bodoni MT", serif !default;
$calisto                      : "Calisto MT", serif !default;
$garamond                     : Garamond, serif !default;

$global-font-family           : $monospace !default;
$header-font-family           : $monospace !default;
$caption-font-family          : $serif !default;
