<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}
		{% feed_meta %}

		<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0c0c0c">
		<meta name="apple-mobile-web-app-title" content="RPISEC">
		<meta name="application-name" content="RPISEC">
		<meta name="msapplication-TileColor" content="#0c0c0c">
		<meta name="theme-color" content="#0c0c0c">

		<meta name="google" content="notranslate">

	</head>
	<body>
        <!-- {% include matrix.html %} -->
		<header>
			<div class="container">
				<div class="company-name">
					<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
					<div id="nav-title"><a href="{{ site.baseurl }}/">RPISEC</a></div>
				</div>
				{% include navigation.html %}
			</div>
		</header>
		{{ content }}
		<footer>
			<div class="container">
				<div class="footer-columns">
					{% for column in site.data.footer %}
					<ul class="footer-links">
						{% for link in column.links %}
							<li><a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon }}-icon"{% endif %}>
								{% if link.social_icon %}
									{% include social-icon.html icon=link.social_icon %}
								{% endif %}
								{{ link.name }}</a></li>
						{% endfor %}
					</ul>
					{% endfor %}
				</div>
				<p class="copyright">&copy; {{ site.time | date: '%Y' }} RPISEC • <a href="https://github.com/RPISEC/website">Source</a></p></div>
		</footer>
		<script>
			document.getElementById("open-nav").onclick = function () {
				document.body.classList.toggle("nav-open");
				return false;
			};
		</script>
	</body>
</html>
